
.statistics{padding: 20px 0; background: rgba(0,0,0,0.45); background-size: cover;}
.statistics .stat{display: inline-block; margin: 35px 25px; line-height: 1.4;}
.statistics h2{text-align: center;}
.statistics .stat span{margin-bottom: 10px;}
.stat .stat-icon, .stat .number, .stat .count-title{display: block; width: 100%; text-align: center;}
.stat .number, .stat .count-title{font-size: 1.4em}
.stat .number{color: khaki; font-size: 25px;}
.statistics-inner{padding: 15px 3%; text-align: center;}
.statistics .stat .fa, .statistics .stat .count-title{color: whitesmoke;}
.statistics .sec-title{margin-bottom: -20px;}
.stat .fa{font-size: 36px}
.stat .count-title {font-size: 16px}
